<!-- <app-d3-line-graph></app-d3-line-graph> -->

<app-multi-line-charts></app-multi-line-charts>
<!-- <app-circle-point-line></app-circle-point-line> -->

<!-- <div id="graph-panel-wrapper">
    <div id="graph-container" style="position:relative;">
        <svg width="100%" height="100%" style="overflow: hidden;">
            <g app-circle-x id="circleX"></g>
            <g app-circle-y id="circleY"></g>
        </svg>    
    </div>
  </div> -->

  <!-- <app-multiline-scatterplot></app-multiline-scatterplot> -->
